@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

footer {
  background-color: #333333;
  /* Gris oscuro */
  margin-top: auto; }

.footerContainer {
  width: 100%;
  padding: 70px 30px 20px; }

.socialIcons {
  display: flex;
  justify-content: center; }

.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: #FFC107;
  /* Amarillo brillante */
  margin: 10px;
  border-radius: 50%; }

.socialIcons a i {
  font-size: 2em;
  color: #fff;
  /* Blanco */
  opacity: 0.9; }

/* Hover effect on social media icon */
.socialIcons a:hover {
  background-color: #FFEB3B;
  /* Amarillo suave */
  transition: 0.5s; }

.socialIcons a:hover i {
  color: #333333;
  /* Gris oscuro */
  transition: 0.5s; }

.footerNav {
  margin: 30px 0; }

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none; }

.footerNav ul li a {
  color: #FFC107;
  /* Amarillo brillante */
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s; }

.footerNav ul li a:hover {
  opacity: 1;
  color: #FFEB3B;
  /* Amarillo suave en hover */ }

.footerBottom {
  background-color: #000000;
  /* Negro */
  padding: 20px;
  text-align: center; }

.footerBottom p {
  color: #ffffff;
  /* Blanco */ }

.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
  color: #FFC107;
  /* Amarillo brillante */ }

@media (max-width: 700px) {
  .footerNav ul {
    flex-direction: column; }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px; }
  .socialIcons a {
    padding: 8px;
    margin: 4px; } }

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column; }

/* Hacer que el contenedor principal ocupe el espacio restante */
.container-fluid {
  flex: 1; }

/* Si el footer tiene margen superior, elimínalo */
footer {
  margin-top: auto; }

* {
  margin: 0;
  padding: 0; }

.login-button {
  background-color: #FFC107;
  /* Amarillo brillante */
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
  /* Corregido el formato de transición */ }

.login-button:hover {
  background-color: #FFEB3B;
  /* Amarillo suave */ }

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
  /* Corregido el formato de tamaño */ }

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none; }

.nav-link {
  color: #2f2e2e;
  /* Puedes ajustar este color si lo deseas */
  font-weight: 500;
  position: relative; }

.nav-link:hover,
.nav-link:active {
  color: #FFEB3B;
  /* Azul marino */ }

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #FFC107;
    /* Puedes ajustar esto si prefieres amarillo */
    visibility: hidden;
    transition: 0.3s ease-in-out;
    /* Corregido el formato de transición */ }
  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible; } }

#logo {
  width: 80px;
  height: 80px; }

#tieAut__Main {
  padding: 0%, 5%, 5%, 0%;
  display: grid;
  height: 1000px;
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas: 'honda' 'audi' 'chevrolet' 'renault' 'ford' 'fiat' 'nissan';
  grid-column-gap: 20px;
  grid-row-gap: 20px; }

#honda, #audi, #chevrolet, #renault, #ford, #fiat, #nissan {
  display: grid;
  grid-template-rows: repeat(4, 1fr) 2fr;
  grid-template-columns: 3fr 1fr; }

/*------HONDA------*/
#honda {
  grid-area: honda;
  grid-template-areas: 'hondaImg hondaModelo' 'hondaImg hondaPrecio' 'hondaImg hondaToTerr' 'hondaImg hondaEnergia' 'hondaDesc hondaDesc'; }

/*------AUDI------*/
#audi {
  grid-area: audi;
  grid-template-areas: 'audiImg audiModelo' 'audiImg audiPrecio' 'audiImg audiToTerr' 'audiImg audiEnergia' 'audiDesc audiDesc'; }

/*------CHEVROLET------*/
#chevrolet {
  grid-area: chevrolet;
  grid-template-areas: 'chevrImg chevrModelo' 'chevrImg chevrPrecio' 'chevrImg chevrToTerr' 'chevrImg chevrEnergia' 'chevrDesc chevrDesc'; }

/*------RENAULT------*/
#renault {
  grid-area: renault;
  grid-template-areas: 'renaImg renaModelo' 'renaImg renaPrecio' 'renaImg renaToTerr' 'renaImg renaEnergia' 'renaDesc renaDesc'; }

/*------FORD------*/
#ford {
  grid-area: ford;
  grid-template-areas: 'fordImg fordModelo' 'fordImg fordPrecio' 'fordImg fordToTerr' 'fordImg fordEnergia' 'fordDesc fordDesc'; }

/*------FIAT------*/
#fiat {
  grid-area: fiat;
  grid-template-areas: 'fiatImg fiatModelo' 'fiatImg fiatPrecio' 'fiatImg fiatToTerr' 'fiatImg fiatEnergia' 'fiatDesc fiatDesc'; }

/*------NISSAN------*/
#nissan {
  grid-area: nissan;
  grid-template-areas: 'nissImg nissModelo' 'nissImg nissPrecio' 'nissImg nissToTerr' 'nissImg nissEnergia' 'nissDesc nissDesc'; }

#mainC {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: 'h1 h1 h1' 'img1 img2 img3' 'm1 t1 r1' 'd1 d2 d3' 'h2 h2 h2' 'i1 i2 i3';
  justify-items: center;
  align-items: center;
  gap: 10px; }

#contenedorcliente1 {
  color: white;
  background-color: black;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-area: h1; }

.h1C, .h6C {
  display: flex;
  justify-content: center; }

#h1_1c {
  font-size: 60px; }

#img1c, #img2c, #img3c {
  height: 300px;
  width: 300px; }

.imgc {
  width: 100%;
  height: 100%;
  object-fit: cover; }

#img1c {
  grid-area: img1; }

#img2c {
  grid-area: img2; }

#img3c {
  grid-area: img3; }

#p1c, #p2c, #p3c {
  width: 500px;
  height: 200px; }

#p1c {
  grid-area: m1; }

#p2c {
  grid-area: t1; }

#p3c {
  grid-area: r1; }

.pc {
  font-size: 18px; }

#h2c {
  color: white;
  grid-area: h2;
  background-color: black;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column; }

#h2_1c {
  display: flex;
  justify-content: center;
  font-size: 40px; }

#if1c {
  grid-area: i1;
  width: 500px;
  height: 300px; }

#if2c {
  width: 500px;
  height: 300px;
  grid-area: i2; }

#if3c {
  width: 500px;
  height: 300px;
  grid-area: i3; }

.prods__main {
  border: solid 6px black;
  margin-inline: 2%;
  padding: 20px;
  background-color: goldenrod; }

.prods__encabezado {
  height: 500px; }

.prods__carrusel img {
  border: solid 4px black; }

.prods__info {
  height: 100%; }
  .prods__info .prods__volver {
    position: absolute;
    width: 100%;
    transform: translate(40%); }
    .prods__info .prods__volver a {
      box-shadow: 0px 0px 10px black;
      font-size: 25px;
      color: black;
      text-decoration: none !important;
      background-color: red;
      transition: all .2s;
      padding-inline: 5px;
      padding-block: 3px;
      border: solid 2px #181818;
      border-radius: 8px; }
      .prods__info .prods__volver a:hover {
        color: white;
        box-shadow: 0px 0px 10px darkred; }
  .prods__info h2 {
    height: 10%;
    font-size: 50px;
    color: black;
    text-decoration: underline !important; }
  .prods__info table {
    height: 80%;
    margin-left: 10%; }
    .prods__info table tr td {
      font-size: 25px;
      color: black; }
  .prods__info .prods__dato {
    padding-left: 12px; }
  .prods__info .prods__carac {
    margin-block: 5px; }
    .prods__info .prods__carac h5 {
      font-size: 35px;
      color: black;
      text-decoration: none !important; }
  .prods__info .prods__contacto {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center; }
    .prods__info .prods__contacto button {
      box-shadow: 0px 0px 10px black;
      border-radius: 8px;
      padding: 5px;
      height: 100%;
      background-color: red;
      transition: all .2s; }
      .prods__info .prods__contacto button a {
        font-size: 25px;
        color: black;
        text-decoration: none !important;
        transition: all .2s; }
      .prods__info .prods__contacto button:hover {
        transform: scale(1.05, 0.95);
        box-shadow: 0px 0px 20px darkred; }
        .prods__info .prods__contacto button:hover a {
          color: white; }

.prods__descripcion {
  padding-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center; }
  .prods__descripcion p {
    font-size: 22px;
    width: 80%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

#body__Registro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(27deg, #d49090 50%, #b17272, #b61111a1 50%, #aa1b1b); }

.form-body {
  width: 400px;
  min-width: 300px;
  border-radius: 10px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: solid 2px #9b0000;
  background-color: #00000023;
  margin: 10px; }

.form-body img {
  width: 150px;
  display: block;
  margin: 20px auto; }

.text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 25px; }

.form-body input {
  display: block;
  margin: auto;
  height: 40px;
  width: 75%;
  padding-left: 10px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none; }

.form-body input[type="password"] {
  margin-top: 20px; }

::placeholder {
  font-size: 1rem;
  color: azure; }

.form-body input:hover {
  transition: .5s;
  border: 1px solid #9b0000;
  color: #aa1b1b; }

.form-body button {
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 30px;
  height: 40px;
  width: 78%;
  background: transparent;
  color: #b9c4c6;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  border: 1px solid #9b0000;
  transition: all .5s ease; }

.form-body button:hover {
  color: #d5dbdd;
  transform: scale(1.1);
  border: 3px solid #9b0000;
  background: linear-gradient(#aa1b1b, #c72c2c); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

#body__Registro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(27deg, #34495e 50%, #2c3e50 50%); }

.form-body {
  width: 400px;
  min-width: 300px;
  border-radius: 10px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: solid 1px #2980b9;
  margin: 10px; }

.form-body img {
  width: 150px;
  display: block;
  margin: 20px auto; }

.text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 25px; }

.form-body input {
  display: block;
  margin: auto;
  height: 40px;
  width: 75%;
  padding-left: 10px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none; }

.form-body input[type="password"] {
  margin-top: 20px; }

::placeholder {
  font-size: 1rem;
  color: azure; }

.form-body input:hover {
  transition: .5s;
  border: 1px solid #2988b9;
  color: #2988b9; }

.form-body button {
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 30px;
  height: 40px;
  width: 78%;
  background: transparent;
  color: #b9c4c6;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  border: 1px solid #2980b9;
  transition: all .5s ease; }

.form-body button:hover {
  color: #d5dbdd;
  border: 2px solid #3498db;
  background: linear-gradient(#34495e, #2c3e50); }
