/*---------AUTOS---------*/

@mixin padding($top, $right, $bottom, $left){
    padding: $top $right $bottom $left;
}
@mixin padding1variable($valor){
    padding: $valor;
}
@mixin margin($top, $right, $bottom, $left){
    margin: $top $right $bottom $left;
}
@mixin margin1variable($valor){
    margin: $valor;
}

/*<Mapas Areas>*/
$areasHonda:(
    1: honda1,
    2: honda2,
    3: honda3,
);
$areasAudi:(
    1: audi1,
    2: audi2,
    3: audi3,
);
$areasChevr:(
    1: chevr1,
    2: chevr2,
    3: chevr3,
);
$areasRena:(
    1: rena1,
    2: rena2,
    3: rena3,
);
$areasFord:(
    1: ford1,
    2: ford2,
    3: ford3,
);
$areasFiat:(
    1: fiat1,
    2: fiat2,
    3: fiat3,
);
$areasNiss:(
    1: niss1,
    2: niss2,
    3: niss3,
);
/*</Mapas Areas>*/


.margin0padding0{
    margin: 0%;
    padding: 0%;
}
.noSeVe{
    display: none;
}

#tieAutMain{
    @include padding(10px, 5%, 30px, 5%);
    img{
        outline: 5px solid map-get($paleta-colores, 2);
        border-radius: 20px
    }
    a{
        text-decoration: none !important;
    }
}

#tieAutMain__catalogo{
    display: grid;

    grid-template-rows: auto;

    grid-row-gap: 0px;
    div[class*="Img"]{
        height: 292px;
        img{
            height: 100%;
        }
    }
    div[class*="Datos"]{
        display: none;
        position: absolute;
        text-align: center;
        height: 292px;
        color: white;
        transform: translate(0px, -292px);
        outline: 5px solid map-get($paleta-colores, 2);
        border-radius: 20px;
        grid-template-rows: repeat(4, 1fr) 2fr;

        filter: blur(0px);
        h4{
            font-size: 40px;
            @extend .margin0padding0;
        }
        p{
            @extend .margin0padding0;
            font-size: 20px;
        }
    }
}

.tieAutMain__catalogo--marcas{
    display: grid;

    grid-template-rows: 1fr 6.5fr;
    grid-template-columns: repeat(3, 1fr);

    grid-column-gap: 20px;
    
    h2{
        @extend .margin0padding0;
        text-align: center;
        text-decoration: underline;
        @include padding(0, 0, 10px, 0)
    }

    img{
        width: 100%;
    }
    > div{
        transition: all 0.5s;
        &:hover{
            scale: 1.2;
            z-index: 500;
            img{
                filter: blur(5px) brightness(.6);
                transition: all 0.5s;
            }
        }
    }
}


/*------HONDA------*/

#tieAutMain__catalogo--marcas--honda{
    grid-template-areas:
    'titHonda titHonda titHonda';
    
    @each $num, $area in $areasHonda{
        #tieAutMain__catalogo--marcas--honda--#{$num}{
            &:hover{
                .tieAutMain__catalogo--marcas--Datos{
                    display: grid;
                }
            }
        }
    }
    
    h2{
        grid-area: titHonda;
    }
}


/*------AUDI------*/

#tieAutMain__catalogo--marcas--audi{
    grid-template-areas:
    'titAudi titAudi titAudi';

    @each $num, $area in $areasAudi{
        #tieAutMain__catalogo--marcas--audi--#{$num}{
            &:hover{
                .tieAutMain__catalogo--marcas--Datos{
                    display: grid;
                }
            }
        }
    }
    
    h2{
        grid-area: titAudi;
    }
}

/*------CHEVROLET------*/

#tieAutMain__catalogo--marcas--chevrolet{
    grid-template-areas:
    'titChevr titChevr titChevr';

    @each $num, $area in $areasChevr{
        #tieAutMain__catalogo--marcas--chevrolet--#{$num}{
            &:hover{
                .tieAutMain__catalogo--marcas--Datos{
                    display: grid;
                }
            }
        }
    }
    
    h2{
        grid-area: titChevr;
    }
}

/*------RENAULT------*/

#tieAutMain__catalogo--marcas--renault{    
    grid-template-areas:
    'titRena titRena titRena';
    
    @each $num, $area in $areasRena{
        #tieAutMain__catalogo--marcas--renault--#{$num}{
            &:hover{
                .tieAutMain__catalogo--marcas--Datos{
                    display: grid;
                }
            }
        }
    }
    
    h2{
        grid-area: titRena;
    }
}

/*------FORD------*/

#tieAutMain__catalogo--marcas--ford{    
    grid-template-areas:
    'titFord titFord titFord';
    
    @each $num, $area in $areasFord{
        #tieAutMain__catalogo--marcas--ford--#{$num}{
            &:hover{
                .tieAutMain__catalogo--marcas--Datos{
                    display: grid;
                }
            }
        }
    }
    
    h2{
        grid-area: titFord;
    }
}

/*------FIAT------*/

#tieAutMain__catalogo--marcas--fiat{    
    grid-template-areas:
    'titFiat titFiat titFiat';
    
    @each $num, $area in $areasFiat{
        #tieAutMain__catalogo--marcas--fiat--#{$num}{
            &:hover{
                .tieAutMain__catalogo--marcas--Datos{
                    display: grid;
                }
            }
        }
    }
    
    h2{
        grid-area: titFiat;
    }
}

/*------NISSAN------*/

#tieAutMain__catalogo--marcas--nissan{
    grid-template-areas:
    'titNiss titNiss titNiss';
    
    @each $num, $area in $areasNiss{
        #tieAutMain__catalogo--marcas--nissan--#{$num}{
            &:hover{
                .tieAutMain__catalogo--marcas--Datos{
                    display: grid;
                }
            }
        }
    }
    
    h2{
        grid-area: titNiss;
    }
}

/*COLORES*/

#tieAutMain{
    background: repeating-linear-gradient(
        45deg,
        rgb(100, 100, 100),
        rgb(100, 100, 100) 25%,
        rgb(115, 115, 115) 25%,
        rgb(115, 115, 115) 50%
    );
}
/*TRANSICIONES Y TRANSFORMACIONES*/


/*Venda su auto*/

#tieAutMain__vendaSuAuto{
    display: flex;
    justify-content: center;
    button {
        @include margin(15px, 0, 0, 0);
        @include padding(3px, 100px, 3px, 100px);
        cursor: pointer;
        position: relative;
        z-index: 0;
        border: 0;
        outline: 0;
        border-radius: 50px 10px 50px 10px;
        &:hover{
            &::before {
                opacity: 1;
            }
        }
        &::after {
            content: "";
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: black;
            left: 0;
            top: 0;
            border-radius: 50px 10px 50px 10px;
        }
        &::before {
          content: "";
          background: linear-gradient(
            45deg,
            #FF0000, #FF7300, #FFFB00, #48FF00,
            #00FFD5, #002BFF, #FF00C8, #FF0000
          );
          position: absolute;
          top: -2px;
          left: -2px;
          background-size: 600%;
          z-index: -1;
          width: calc(100% + 4px);
          height:  calc(100% + 4px);
          filter: blur(8px);
          animation: bordeNeon 20s linear infinite;
          transition: opacity .3s ease-in-out;
          border-radius: 50px 10px 50px 10px;
          opacity: 0;
        }
        &:active{
            &::after {
                background: transparent;
            }
        }
        h3{
            @include margin1variable(2px);
            color: white;
        }
    }
}

/*JS*/

#tieAutMain__cosasJS{
    @include padding(15px, 0, 0, 0);
    position: sticky;
    top: 20px;
    z-index: 999;
}

/*BUSQUEDA-----------------------------------------------------------------*/

#tieAutMain__cosasJS--contenedorBusqueda{
    @extend .margin0padding0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(8px, -60px);
}

#tieAutMain__cosasJS--contenedorBusqueda--busqueda{
    position: relative;
    @include padding1variable(10px);
    display: flex;
    align-items: center;
    ::placeholder {
        color: gray;
        font-size: 20px;
    }
    &:hover{ 
        #tieAutMain__cosasJS--contenedorBusqueda--busqueda--busquedaInput {
            width: 350px;
        }
        span {
            transform: rotate(360deg);
        }
    }
}

#tieAutMain__cosasJS--contenedorBusqueda--busqueda--busquedaInput{
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 0px;
    @include padding(0, 20px, 0, 20px);
    color: #000;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid #D50000;
    background-color: #fff;
    transition: all 0.7s ease;
}

#tieAutMain__cosasJS--contenedorBusqueda--busqueda--botonBusqueda{
    position: absolute;
    right: 0px;
    width: 80px;
    height: 80px;
    background: #D50000;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    span {
        font-size: 25px;
        color: white;
        transition: all 0.7s ease;
    }
    &:hover {
        background: #cc0000;
    }
}

/*FILTROS------------------------------------------------------------------------------------*/


#tieAutMain__cosasJS--filtros--barraDeFiltros{
    left: 10px;
    background-color: black;
    color: #fff;
    border: none;
    @include padding(10px, 15px, 10px, 15px);
    cursor: pointer;
    z-index: 1000;
}
  
.tieAutMain__cosasJS--filtros--sidebar{
    position: fixed;
    top: 0;
    left: -290px;
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    @include padding1variable(20px);
    transition: left 0.3s ease;
    z-index: 999;
    h2{
        @include margin1variable(0)
    }
}
  
.tieAutMain__cosasJS--filtros--sidebarActive {
    left: 0;
}
  
#tieAutMain__cosasJS--filtros--sidebar--cerrarSidebar{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
  
.tieAutMain__cosasJS--filtros--sidebar--opciones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include margin(15px, 0, 15px, 30px)
}

.hidden {
    filter: blur(10px);
    pointer-events: none;
    opacity: 0.5;
    transition: filter 0.3s, opacity 0.3s;
}
  

.tieAutMain__cosasJS--filtros--sidebar--opciones--interruptor {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    input{
        opacity: 0;
        width: 0;
        height: 0;
    }
}


.tieAutMain__cosasJS--filtros--sidebar--opciones--interruptor--slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
    &:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
    }
}
  

input:checked + .tieAutMain__cosasJS--filtros--sidebar--opciones--interruptor--slider {
    background-color: #2196F3;
}
  
input:checked + .tieAutMain__cosasJS--filtros--sidebar--opciones--interruptor--slider:before {
    transform: translateX(20px);
}

/*-----RESPONSIVE-----*/

/*PC De La Escuela*/
@media screen and (min-width: 1300px) and (max-width: 1400px){
    #tieAutMain{
        div[class*="Datos"]{
            h4{
                font-size: 30px;
            }
            p{
                font-size: 15px;
            }
        }
    }
}

/*TABLET*/
@media screen and (min-width: 481px) and (max-width: 1023px){
    #tieAutMain{
        .tieAutMain__cosasJS--filtros--sidebar{
            width: 180px;
        }
        .tieAutMain__cosasJS--filtros--sidebar--opciones{
            @include margin(15px, 0, 15px, 15px);
        }
        #tieAutMain__cosasJS--contenedorBusqueda{
            scale: 0.8;
        }
        img{
            outline: 3px solid map-get($paleta-colores, 2);
        }
        #tieAutMain__catalogo{
            grid-row-gap: 5px;
            div[class*="Datos"]{
                display: block;
                position: relative;
                height: auto;
                transform: translate(0px, 5px);
                outline: none;
                h4{
                    font-size: 15px;
                }
                p{
                    font-size: 10px;
                }
            }
            div[class*="Img"]{
                height: 140px;
            }
            .tieAut__grid--marcas{
                > div{
                    &:hover{
                        scale: 1;
                        img{
                            filter: none;
                        }
                    }
                }
            }
        }
    }
}

/*CELULAR*/
@media screen and (min-width: 0px) and (max-width: 480px){
    #tieAutMain{
        img{
            outline: 3px solid map-get($paleta-colores, 2);
        }
        .tieAutMain__cosasJS--filtros--sidebar{
            width: 180px;
        }
        .tieAutMain__cosasJS--filtros--sidebar--opciones{
            @include margin(15px, 0, 15px, 15px);
        }
        #tieAutMain__cosasJS--contenedorBusqueda{
            scale: 0.6;
            transform: translate(0, -40px);
        }
        #tieAutMain__cosasJS--filtros--barraDeFiltros{
            scale: 0.7;
        }
        #tieAutMain__catalogo{
            grid-row-gap: 5px;
            div[class*="Datos"]{
                display: grid;
                grid-row-gap: 2px;
                position: relative;
                height: auto;
                transform: translate(0px, 5px);
                outline: none;
                h4{
                    font-size: 10px;
                }
                p{
                    font-size: 7px;
                }
                &:hover{
                    scale: 1;
                    img{
                        filter:none;
                    }
                }
            }
            div[class*="Img"]{
                height: 170px;
            }
            .tieAutMain__catalogo--marcas{
                grid-template-columns: 1fr;
                grid-template-rows: 1fr repeat(3, 7.7fr);
            }
            .tieAut__grid--marcas > div{
                @include padding(0, 0, 30px, 0)
            }
            /*-------------*/
            #tieAutMain__catalogo--marcas--honda{
                grid-template-areas:
                'titHonda';
                h2{
                    grid-area: titHonda;
                }
            }
            #tieAutMain__catalogo--marcas--audi{
                grid-template-areas:
                'titAudi';
                h2{
                    grid-area: titAudi;
                }
            }
            #tieAutMain__catalogo--marcas--chevrolet{
                grid-template-areas:
                'titChevr';
                h2{
                    grid-area: titChevr;
                }
            }
            #tieAutMain__catalogo--marcas--renault{
                grid-template-areas:
                'titRena';
                h2{
                    grid-area: titRena;
                }
            }
            #tieAutMain__catalogo--marcas--ford{
                grid-template-areas:
                'titFord';
                h2{
                    grid-area: titFord;
                }
            }
            #tieAutMain__catalogo--marcas--fiat{
                grid-template-areas:
                'titFiat';
                h2{
                    grid-area: titFiat;
                }
            }
            #tieAutMain__catalogo--marcas--nissan{
                grid-template-areas:
                'titNiss';
                h2{
                    grid-area: titNiss;
                }
            }
        }
    }
}