@mixin padding($top, $right, $bottom, $left){
    padding: $top $right $bottom $left;
}

$areasGrid:(
    1: honda,
    2: audi,
    3: chevr,
    4: rena,
    5: ford,
    6: fiat,
    7: niss,
);

$areasHonda:(
    1: honda1,
    2: honda2,
    3: honda3,
);

.noSeVe{
    display: none;
}

#tieAut__Main{
    @include padding(0%, 5%, 0%, 5%);
    display: grid;
    height: 1000px;

    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: 
    'honda'
    'audi'
    'chevrolet'
    'renault'
    'ford'
    'fiat'
    'nissan';

    grid-row-gap: 20px;
}

#honda, #audi, #chevrolet, #renault, #ford, #fiat, #nissan{
    display: grid;

    grid-template-rows: 1fr 8fr;
    grid-template-columns: repeat(3, 1fr);

    grid-column-gap: 20px;
}

/*------HONDA------*/

#honda{
    grid-area: map-get($areasGrid, 1);
    
    grid-template-areas:
    'titHonda titHonda titHonda'
    'honda1 honda2 honda3';
    
    @each $num, $area in $areasHonda{
        #honda#{$num}{
            grid-area: $area;
            &:hover{
                #hondaDatos#{$num}{
                    display: grid;    
                    grid-template-rows: repeat(4, 1fr) 2fr;
                    grid-template-areas: 
                    'hondaModelo#{$num}'
                    'hondaPrecio#{$num}'
                    'hondaToTerr#{$num}'
                    'hondaEnergia#{$num}'
                    'hondaDesc#{$num}';
                }
            }
        }
    }
    
    h2{
        margin: 0%;
        padding: 0%;
        grid-area: titHonda;
        text-align: center;
    }

    

    grid-column-gap: 20px;
}

#hondaModelo1{
    grid-area: hondaModelo1;
}

#hondaImg1, #hondaImg2, #hondaImg3{
    height: 100%;
    position: absolute;
}

#hondaDatos1, #hondaDatos2, #hondaDatos3{
    display: none;
    position: absolute;
}

/*------AUDI------*/

#audi{
    grid-area: audi;

    grid-template-areas: 
    'audiImg audiModelo'
    'audiImg audiPrecio'
    'audiImg audiToTerr'
    'audiImg audiEnergia'
    'audiDesc audiDesc';
}

/*------CHEVROLET------*/

#chevrolet{
    grid-area: chevrolet;

    grid-template-areas: 
    'chevrImg chevrModelo'
    'chevrImg chevrPrecio'
    'chevrImg chevrToTerr'
    'chevrImg chevrEnergia'
    'chevrDesc chevrDesc';
}

/*------RENAULT------*/

#renault{
    grid-area: renault;

    grid-template-areas: 
    'renaImg renaModelo'
    'renaImg renaPrecio'
    'renaImg renaToTerr'
    'renaImg renaEnergia'
    'renaDesc renaDesc';
}

/*------FORD------*/

#ford{
    grid-area: ford;

    grid-template-areas: 
    'fordImg fordModelo'
    'fordImg fordPrecio'
    'fordImg fordToTerr'
    'fordImg fordEnergia'
    'fordDesc fordDesc';
}

/*------FIAT------*/

#fiat{
    grid-area: fiat;

    grid-template-areas: 
    'fiatImg fiatModelo'
    'fiatImg fiatPrecio'
    'fiatImg fiatToTerr'
    'fiatImg fiatEnergia'
    'fiatDesc fiatDesc';
}

/*------NISSAN------*/

#nissan{
    grid-area: nissan;

    grid-template-areas: 
    'nissImg nissModelo'
    'nissImg nissPrecio'
    'nissImg nissToTerr'
    'nissImg nissEnergia'
    'nissDesc nissDesc';
}