* {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #2B2B2B; /* Gris oscuro tirando a negro */
    margin-top: auto;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: #D32F2F; /* Rojo intenso */
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: #ffffff; /* Blanco */
    opacity: 0.9;
}

/* Hover effect on social media icon */
.socialIcons a:hover {
    background-color: #FF6659; /* Rojo suave */
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: #2B2B2B; /* Gris oscuro */
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: #D32F2F; /* Rojo intenso */
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
    color: #FF6659; /* Rojo suave en hover */
}

.footerBottom {
    background-color: #1A1A1A; /* Gris casi negro */
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: #ffffff; /* Blanco */
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
    color: #D32F2F; /* Rojo intenso */
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
}

/* Hacer que el contenedor principal ocupe el espacio restante */
.container-fluid {
    flex: 1;
}

/* Si el footer tiene margen superior, elimínalo */
footer {
    margin-top: auto;
}
