header{
    background-color: map-get($paleta-colores, 12);
}

nav{
    position: sticky;
    top: 5px;
}

.login-button {
    background-color: map-get($paleta-colores, 8);
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: map-get($paleta-colores, 9) !important;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: map-get($paleta-colores, 1);
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link:active {
    color: map-get($paleta-colores, 11);
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: map-get($paleta-colores, 11);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

#logo {
    width: 80px;
    height: 80px;
}
