@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes subir {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#cuerpo{
    margin: 0;
    padding: 0;
}

#sobre-nosotros {
  color: map-get($paleta-colores, 1);
  padding: 60px 20px;
  text-align: center;
}

#sobre-nosotros__titulo{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  h2{
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    color: map-get($paleta-colores, 8);
    margin-bottom: 20px;
    animation: aparecer 0.5s ease-in-out;
  }

  p{
    font-size: 20px;
    font-style: italic;
    margin-bottom: 40px;
    animation: aparecer 1.5s ease-in-out;
  }

}


#sobre-nosotros__historia {
  margin-bottom: 50px;
  h3{
    height: 70px;
    padding-top: 1%;
    letter-spacing: 2px;
    background-color: map-get($paleta-colores, 8 );
    border-radius: 20px;
    animation: subir 1.5s ease-in-out;
  }
  p{
    font-size: 18px;
    animation: subir 2s ease-in-out;
  }
}


#sobre-nosotros__mision-vision {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin-bottom: 50px;
  animation: aparecer 1.5s ease-in-out;
  div{
    background: rgba(map-get($paleta-colores, 13), 0.9);
    padding: 30px;
    border-radius: 10px;
    width: 45%;
    color: #fff;
    border: 3px solid map-get($paleta-colores, 9);
    transition: transform 0.3s, box-shadow 0.3s;
    &:hover{
      transform: scale(1.05);
      box-shadow: 0 0 20px map-get($paleta-colores, 8);
    }
  }
}

#sobre-nosotros__vehiculos {
  margin-bottom: 50px;
  ul {
    padding: 0;
    margin: 20px 0;

    li {
      list-style: none;
      font-size: 25px;
      letter-spacing: 2px;
      margin-bottom: 20px;
      animation: subir 1.2s ease-in-out;
      transition: color, 0.3s;
      &:hover{
        color: map-get($paleta-colores, 11);
      }
    }
  }
}


#sobre-nosotros__logros {
  margin-bottom: 50px;
}

.sobre-nosotros__logros--cifras {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.cifra {
  width: 200px;
  background: #1a1a1a;
  margin-top: 30px;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid map-get($paleta-colores, 9);
  animation: subir 1.5s ease-in-out;
  transition: transform 0.3s, box-shadow 0.3s;
  h4 {
    font-size: 2.5rem;
    color: map-get( $paleta-colores, 14);
    margin-bottom: 10px;
  }
  &:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 15px map-get($paleta-colores, 11);
  }
}



.mision-vision, .vehiculos, .logros, .historia, .equipo {
  margin-bottom: 50px;
}
  