@mixin valoresFuente($size, $color, $deco){
    font-size: $size;
    color: $color;
    text-decoration: $deco !important;
}

.prods__main{
    border: solid 6px black;
    margin-inline: 2%;
    padding: 20px;
    background-color: goldenrod;
}

.prods__encabezado{
    height: 500px;
}

.prods__carrusel{
    height: 100%;
    img{
        border: solid 4px black;
        height: 500px !important;
    }
}

.prods__info{
    height: 100%;
    .prods__volver{
        position: absolute;
        width: 100%;
        transform: translate(40%);
        a{
            overflow-x: hidden;
            box-shadow: 0px 0px 10px black;
            @include valoresFuente(25px, black, none);
            background-color: rgb(187, 12, 12);
            transition: all .2s;
            padding-inline: 5px;
            padding-block: 3px;
            border: solid 2px rgb(24, 24, 24);
            border-radius: 8px;
            &:hover{
                box-shadow: 0px 0px 10px darkred;
                filter: brightness(130%);
            }
        }
    }

    h2{
        height: 10%;
        @include valoresFuente(50px, black, underline)
    }
    
    table{
        height: 80%;
        margin-left: 10%;
        tr{
            td{
                font-size: 25px;
                color: black;
            }
        }
    }

    .prods__dato{
        padding-left: 12px;
    }

    .prods__carac{
        margin-block: 5px;
        h5{
            @include valoresFuente(35px, black, none)
        }
    }

    .prods__contacto{
        display: flex;
        width: 100%;
        height: 10%;
        justify-content: center;
        align-items: center;
        
        button{
            box-shadow: 0px 0px 10px black;
            border-radius: 8px;
            padding: 5px;
            height: 100%;
            background-color: rgb(187, 12, 12);;
            transition: all .2s;
            a{
                @include valoresFuente(25px, black, none);
                transition: all .2s;
            }
            &:hover{
                transform: scale(1.05, 0.95);
                box-shadow: 0px 0px 20px darkred;
                filter: brightness(130%);
            }
        }
    }
}

.prods__descripcion{
    padding-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    p{
        font-size: 22px;
        width: 80%;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .prods__main{
        margin-top: 60px;
    }
    .prods__encabezado{
        height: 800px;
    }
    .prods__carrusel{
        height: 300px;
        img{
            height: 300px !important;
        }
    }
    .prods__info{
        height: 500px;
        .prods__volver{
            margin-inline: 0%;
            transform: translateY(-380px);
        }
        .prods__contacto{
        height: 50px;
            button{
                a{
                    @include valoresFuente(16px, black, none)
                }
            }
        }
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .prods__main{
        margin-top: 60px;
    }
    .prods__encabezado{
        height: 1000px;
    }
    .prods__carrusel{
        height: 500px;
        img{
            height: 500px !important;
        }
    }
    .prods__info{
        height: 500px;
        h2{
            margin-left: 20%;
        }
        table{
            margin-left: 20%;
        }
        .prods__volver{
            margin-inline: 0%;
            transform: translateY(-580px);
        }
        .prods__contacto{
        height: 50px;
            button{
                a{
                    @include valoresFuente(16px, black, none)
                }
            }
        }
    }
}