$color-blanco: #fff;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#body__Registro{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(27deg, #d49090 50%, #b17272, #b61111a1 50%, #aa1b1b);

}

.form-body{
    width: 400px;
    min-width: 300px;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: solid 2px #9b0000;
    background-color: #00000023;
    margin: 10px;
    
}

.form-body img{
    width: 150px;
    display: block;
    margin: 20px auto;
}

.text{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: $color-blanco;
    margin-bottom: 25px;
}

.form-body input{
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    font-size: 15px;
    padding-left: 10px;
    color: $color-blanco;
    border: 1px solid $color-blanco;
    border-radius: 2px;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
}


.form-body input[type="password"]{
    margin-top: 20px;
}

::placeholder{
    font-size: 1rem;
    color: azure;
}

.form-body input:hover{
    transition: .5s;
    border: 1px solid #9b0000;
    color: #aa1b1b;
}

.form-body button{
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 40px;
    width: 78%;
    background: transparent;
    color: #b9c4c6;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    border: 1px solid #9b0000;
    transition: all .5s ease;



}



.form-body button:hover{
    color: #d5dbdd;
    transform: scale(1.1);
    border: 3px solid #9b0000;
    background: linear-gradient(#aa1b1b,#c72c2c);

}

#link{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

.form-body input[type="text"]{
    margin-top: 20px;
}
