
$paleta-colores: (
    1: white,
    2: black,
    3: rgb(70, 70, 70),
    4: rgb(80, 80, 80),
    5: rgb(172, 172, 172),
    6: rgb(100, 100, 100),
    7: rgb(115, 115, 115),
    8: #D32F2F,
    9: #FF6659,
    10: rgb(47, 47, 47),
    11: #9b0000,
    12: #2B2B2B,
    13: #1A1A1A,
);


@import "footer";
@import "menu";
@import "autos";
@import "cliente";
@import "productos";
@import "registro-inicioSesion";
@import "ventaAutos";

*{
    margin: 0;
    padding: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body{
    animation: fadeIn 1s ease-in-out;
}

#in_header{
    animation: fadeIn 0.5s ease-in-out;
}

#bodymain{
    background: repeating-linear-gradient(
        45deg,
        map-get($paleta-colores, 3),
        map-get($paleta-colores, 3) 20%,
        map-get($paleta-colores, 4) 20%,
        map-get($paleta-colores, 4) 40%
    );
}

.cont-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    padding: 0 !important;
}

#button-menu{
    visibility: hidden;
    position: absolute;
}

#logomain{
    margin: 0;
    padding: 0;
    width: 450px;
    height: 450px;
    transition: rotate 0.5s;
    &:hover{
        rotate: 20deg;
        transition: rotate 0.5s;
    }
}


#titulo-empresa{
    position: absolute;
    width: 367px;
    align-items: center;
    font-size: 50px;
    letter-spacing: 1px;
    font-family:serif;
    color: map-get($paleta-colores, 1);
    transition: all 0.5s;
    &:hover{
        transform: scale(1.2);
        transition: all 0.5s;
    }
}

#main-nav__menu{
    ul {
        height: 50px;
        position: sticky !important;
        top: 20px !important;
        li a{
            color: map-get($paleta-colores, 1);
            font-size: 20px;
            &:hover{
                color: map-get($paleta-colores, 5);
                transition: color 0.5s;
            }
        }
    }
}

#menu-current-page{
    color: map-get($paleta-colores, 1);
}


.cont-login{
    position: absolute !important; 
    justify-content: end !important;
    display: flex;
    a{
        margin: 2%;
    }
}

#login-button-principal{
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
    background-color: map-get($paleta-colores, 8);
    color: map-get($paleta-colores, 1);
    border-radius: 20px;
}

@media (max-width: 991px){
    #button-menu {
        visibility: visible !important;
        position: relative !important;
        margin-right: 1%;
        background-color: gray;
    }
    #main-nav__menu ul li a{
        color: rgb(75, 75, 75);
        font-weight: bold;
        font-size: 20px;
        &:hover{
            color: rgb(204, 204, 204);
            transition: color 0.5s;
        }
    }
}

#header-nav{
    margin: 0;
    padding: 0;
}


#que-somos{
    margin: 0;
    padding: 0;
    height: 825px;
    justify-content: center;
}
#que-somos__h2{
    font-size: 70px;
    font-family: monospace;
    text-align: center;
    color: map-get($paleta-colores, 1);
    padding-top: 15%;
}
#que-somos__p{
    color: map-get($paleta-colores, 1);
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    width: 70%;
    padding-bottom: 20%;
}
#que-somos__foto-fondo{
    position: absolute;
    z-index: -1;
    filter: brightness(50%);
    height: 825px;
    margin: 0;
    padding: 0;
}

.carousel-inner div img{
    width: 100%;
}

#productos-carousel{
    padding: 5% 2%;
    background: repeating-linear-gradient(
        -45deg,
        map-get($paleta-colores, 6),
        map-get($paleta-colores, 6) 20%,
        map-get($paleta-colores, 7) 20%,
        map-get($paleta-colores, 7) 40%
    );
    img{
        filter: brightness(80%);
        transition: filter 0.5s;
        &:hover{
            filter: brightness(90%);
            transition: filter 0.5s;
        }
    }
    button{
        margin: 5% 2%;
        display: flex;
        background-color: none;
        transition: all 0.5s;
        &:hover{
            background-color: rgba(128, 128, 128, 0.452);
            transition: all 0.5s;
        }
    }
}

#comp-related{
    width: 100%;
    margin: 0;
    padding: 0;
}

#comp-related__companies{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#comp-related__companies--logo{
    display: flex;
    justify-content: center;
}

#comp-related__h2{
    text-align: center;
    font-family: fantasy;
    letter-spacing: 2px;
    padding: 15px 0;
    margin-bottom: 50px;
    background-color: #f17b7b;
}

#comp-related__companies--logo1{
    display: flex;
    justify-content: center;
    img{
        width: 50%;
    }
}

#comp-related__companies--t1{
    text-align: center;
    color: map-get($paleta-colores, 1);
    letter-spacing: 3px;
    margin: 25px 0;
    font-size: 60px;
    font-family: serif;
    font-weight: bold;
}

#comp-related__companies--p1{
    text-align: center;
    color: map-get($paleta-colores, 1);
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(128, 128, 128, 0.539);
    
    border-radius: 20px;
    padding: 10px 5px;
    margin-bottom: 100px
}

$numeros-companias: 1, 2, 3, 4;

@each $numero in $numeros-companias{

    #comp-related__companies--logo#{$numero}{
        @extend #comp-related__companies--logo1 ;
    }
    #comp-related__companies--t#{$numero}{
        @extend #comp-related__companies--t1 ;
    }
    #comp-related__companies--p#{$numero}{
        @extend #comp-related__companies--p1 ;
    }
}

#comp-related__companies--logo2{
    @extend #comp-related__companies--logo1 ;
    img{
        width: 35%;
    }
}



@media screen and (min-width: 1300px) and (max-width: 1400px){
    
}

@media screen and (min-width: 320px) and (max-width: 767px){
    
    #que-somos{
        height: 450px;
    }

    #que-somos__h2{
        font-size: 40px;
        padding-top: 20%;
    }

    #que-somos__p{
        font-size: 15px;
        width: 100%;
        padding-bottom: 20%;
    }

    #que-somos__foto-fondo{
        height: 60%;
        margin: 0;
        padding: 0;
    }

    #comp-related__companies--logo1{
        img{
            width: 60%;
        }
    }

    #comp-related__companies--t1{
        margin: 25px 0;
        font-size: 50px;
    }

    #comp-related__companies--p1{
        font-size: 17px;
        margin-bottom: 70px
    }

    #logomain{
        width: 300px;
        height: 300px;
    }

}    